# 作業系統檔案
.DS_Store
__pycache__/
*.py[cod]
*.log

# 開發工具
.venv/
.vscode/
.idea/
*.ipynb_checkpoints

# 憑證與敏感檔案
.env
token.json
service_account.json

# OAuth token credentials
.credentials/
.credentials/*

# Chroma 向量資料庫
fortunetell_chroma__db/

# 姓名資料集
.data/